@import "tailwindcss";

body::-webkit-scrollbar{
  display: none;
}
#Explore {
  opacity: 0;
}
#Exploreimg:hover #Explore {
  opacity: 1;
  transition: 0.1s ease-in-out;
}
#section8 {
  background-image: url("./assets/BACKGROUND-SLIDE.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#footer {
  background-image: url("./assets/bg.jpg");
  background-position: bottom;
}
.custom-pagination .swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #3f3f3f;
  width: 20px;
}

